<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>

<h1 class="text-center">Bonus cards</h1>
<div class="container">
    <h2>Generation cards</h2>
    <div class="row">
        <div class="col-md-12">
            <form id="GenerateForm">
                <div class="form-row row">
                    <div class="col">
                        <input type="number" name="generate_cards_count" class="form-control"
                               placeholder="Количества карт">
                    </div>
                    <div class="col">
                        <input type="number" name="generate_series" class="form-control" placeholder="Серия">
                    </div>
                    <div class="col">
                        <select name="generate_datetime_of_use" class="form-control">
                            <option value="0">1 месяц</option>
                            <option value="1">6 месяцев</option>
                            <option value="2">1 год</option>
                        </select>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary form-control">Сгенерировать карты</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <h2>Search cards</h2>
    <div class="row">
        <div class="col-md-12">
            <form id="SearchForm">
                <div class="form-row row">
                    <div class="col-md-6">
                        <input type="text" name="search_field" class="form-control"
                               placeholder="Введите текст для поиска">
                    </div>
                    <div class="col">
                        <select name="search_status_field" class="form-control">
                            <option value="0">Не активирована</option>
                            <option value="1">Активирована</option>
                            <option value="2">Просрочена</option>
                            <option value="">Все</option>
                        </select>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary form-control">Поиск</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">

        <div class="col" id="card_list">
            <table></table>
        </div>
    </div>
</div>
<style type="text/css">
    .row {
       margin: 10px 0 10px 0;
    }
</style>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="/static/js/ajax_functions.js"></script>
</body>
</html>